header {
  background-color: #f1a129;
  color: aliceblue;
  text-align: center;
}

header h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.6rem;
  font-weight:600;
  text-transform: uppercase;
}

/* SPINNER */

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: rgb(245, 182, 56);

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}